<div class="contents">
	<p class="cm_txt_175 cm_lh_18 cm_txt_c">あああああああ</p>
	<p class="area_pink cm_mg_b_20">あああああ</p>
	<p class="area_blue cm_mg_b_20">あああああ</p>
	<p class="area_beige cm_mg_b_20">あああああ</p>
	<p class="area_beige_nb cm_mg_b_20">あああああ</p>
	<p class="area_border_bottom cm_mg_b_20">あああああ</p>
	<p class="area_border">あああああ</p>
</div>
<div class="contents">
	<section>
		<h1 class="icon_pic_01">.icon_pic_01</h1>
		<h1 class="icon_pic_02">.icon_pic_02</h1>
		<h1 class="icon_pic_03">.icon_pic_03</h1>
		<h1 class="icon_pic_04">.icon_pic_04</h1>
		<h1 class="icon_pic_05">.icon_pic_05</h1>
		<h1 class="icon_pic_06">.icon_pic_06</h1>
		<h1 class="icon_pic_07">.icon_pic_07</h1>
		<h1 class="icon_pic_08">.icon_pic_08</h1>
		<h1 class="icon_pic_09">.icon_pic_09</h1>
		<h1 class="icon_pic_10">.icon_pic_10</h1>
		<h1 class="icon_pic_11">.icon_pic_11</h1>
		<h1 class="icon_pic_12">.icon_pic_12</h1>
		<h1 class="icon_pic_13">.icon_pic_13</h1>
		<h1 class="icon_pic_14">.icon_pic_14</h1>
		<h1 class="icon_pic_15">.icon_pic_15</h1>
		<h1 class="icon_pic_16">.icon_pic_16</h1>
		<h1 class="icon_pic_17">.icon_pic_17</h1>
		<h1 class="icon_pic_18">.icon_pic_18</h1>
		<h1 class="icon_pic_19">.icon_pic_19</h1>
		<h1 class="icon_pic_20">.icon_pic_20</h1>
		<h1 class="icon_pic_21">.icon_pic_21</h1>
		<h1 class="icon_pic_22">.icon_pic_22</h1>
		<h1 class="icon_pic_23">.icon_pic_23</h1>
		<h1 class="icon_pic_24">.icon_pic_24</h1>
		<h1 class="icon_pic_25">.icon_pic_25</h1>
		<h1 class="icon_pic_26">.icon_pic_26</h1>
		<h1 class="icon_pic_27">.icon_pic_27</h1>
		<h1 class="icon_pic_28">.icon_pic_28</h1>
		<h1 class="icon_pic_29">.icon_pic_29</h1>
		<h1 class="icon_pic_30">.icon_pic_30</h1>
		<h1 class="icon_pic_31">.icon_pic_31</h1>
		<h1 class="icon_pic_32">.icon_pic_32</h1>
		<h1 class="icon_pic_33">.icon_pic_33</h1>
		<h1 class="icon_pic_34">.icon_pic_34</h1>
		<h1 class="icon_pic_35">.icon_pic_35</h1>
		<h1 class="icon_pic_36">.icon_pic_36</h1>
		<h1 class="icon_pic_37">.icon_pic_37</h1>
		<h1 class="icon_pic_38">.icon_pic_38</h1>
		<h1 class="icon_pic_39">.icon_pic_39</h1>
		<h1 class="icon_pic_40">.icon_pic_40</h1>
		<h1 class="icon_pic_41">.icon_pic_41</h1>
		<h1 class="icon_pic_42">.icon_pic_42</h1>
		<h1 class="icon_pic_43">.icon_pic_43</h1>
		<h1 class="icon_pic_44">.icon_pic_44</h1>
		<h1 class="icon_pic_45">.icon_pic_45</h1>
		<h1 class="icon_pic_46">.icon_pic_46</h1>
		<h1 class="icon_pic_47">.icon_pic_47</h1>
		<h1 class="icon_pic_48">.icon_pic_48</h1>
		<h1 class="icon_pic_49">.icon_pic_49</h1>
		<h1 class="icon_pic_50">.icon_pic_50</h1>
		<h1 class="icon_pic_51">.icon_pic_51</h1>
		<h1 class="icon_pic_52">.icon_pic_52</h1>
		<h1 class="icon_pic_53">.icon_pic_53</h1>
		<h1 class="icon_pic_54">.icon_pic_54</h1>
		<h1 class="icon_pic_55">.icon_pic_55</h1>
		<table class="table_01 cm_w_100">
			<tr class="odd">
				<th>いいい</th>
				<td>ああああああああ</td>
			</tr>
			<tr class="even">
				<th>うううううう</th>
				<td><input type="text" class="frm_text cm_w_50" name=""></td>
			</tr>
			<tr class="odd">
				<th>ええええ</th>
				<td><input type="text" class="frm_text cm_w_50" name=""></td>
			</tr>
			<tr class="even">
				<th>おおおお</th>
				<td><textarea class="cm_w_95 cm_h_100px frm_text" name=""></textarea></td>
			</tr>
		</table>
	</section>
</div>
<div class="contents">
	<section>
		<p class="icon_point_01"><span></span>.icon_point_01</p>
		<p class="icon_point_02"><span></span>.icon_point_02</p>
		<p class="icon_point_03"><span></span>.icon_point_03</p>
		<p class="icon_point_04"><span></span>.icon_point_04</p>
		<p class="icon_point_05"><span></span>.icon_point_05</p>
		<p class="icon_point_06"><span></span>.icon_point_06</p>
		<p class="icon_point_07"><span></span>.icon_point_07</p>
		<p class="icon_point_08"><span></span>.icon_point_08</p>
		<p class="icon_point_09"><span></span>.icon_point_09</p>
		<p class="icon_point_10"><span></span>.icon_point_10</p>
		<p class="icon_point_11"><span></span>.icon_point_11</p>
		<p class="icon_point_12"><span></span>.icon_point_12</p>
		<p class="icon_point_13"><span></span>.icon_point_13</p>
		<p class="icon_point_14"><span></span>.icon_point_14</p>
		<p class="icon_point_15"><span></span>.icon_point_15</p>
		<p class="icon_point_16"><span></span>.icon_point_16</p>
		<p class="icon_point_17"><span></span>.icon_point_17</p>
		<p class="icon_point_18"><span></span>.icon_point_18</p>
		<p class="icon_point_19"><span></span>.icon_point_19</p>
		<p class="icon_point_20"><span></span>.icon_point_20</p>
		<p class="icon_point_21"><span></span>.icon_point_21</p>
		<p class="icon_point_22"><span></span>.icon_point_22</p>
		<p class="icon_point_23"><span></span>.icon_point_23</p>
		<p class="icon_point_24"><span></span>.icon_point_24</p>
		<p class="icon_point_25"><span></span>.icon_point_25</p>
	</section>
</div>
<div class="contents clearfix">
	<nav class="side">
		<ul>
			<li><a href="">届いた思い出話</a><span>100</span></li>
			<li><a href="">書いた思い出話</a></li>
			<li><a href="">届いた思い出話</a></li>
		</ul>
	</nav>
	<section class="main">
		<h1 class="icon_pic_55">.icon_pic_55</h1>
		<p>aaaaaa</p>
		<p class="cm_txt_c cm_mg_b_10"><a class="button1" href="#">あああああ</a>&nbsp;<a class="button1s" href="#">あああああ</a>&nbsp;<a class="button2" href="#">あああああ</a>&nbsp;<a class="button2s" href="#">あああああ</a></p>
		<div class="clearfix area_border_bottom">
			<div class="cm_float_l cm_w_20">
				<h1>ほげほげ</h1>
			</div>
			<div class="cm_float_r cm_w_78">
				<p>ああああああ</p>
			</div>
		</div>
		<div class="clearfix area_border_bottom">
			<div class="cm_float_l cm_w_20">
				<h1>ほげほげ</h1>
			</div>
			<div class="cm_float_r cm_w_78">
				<p>ああああああ</p>
			</div>
		</div>
		<div class="clearfix">
			<div class="cm_float_l cm_w_20">
				<h1>ほげほげ</h1>
			</div>
			<div class="cm_float_r cm_w_78">
				<p>ああああああ</p>
			</div>
		</div>
	</section>
</div>
