	<div class="contents clearfix">
		<nav class="side">
			<p class="cm_mg_b_10 area_border_bottom"><img src="<% $this_user_profile_image_url %>" alt="<% $this_user_screen_name %>" class="img_border_l cm_mg_r_5" /></p>
			<h1 class="cm_txt_150 area_border_bottom_s"><% $this_user_screen_name %></h1>
			<p class="area_border_bottom_s"><a class="button1s" href="/admin/write/form/?screen_name=<% $this_user_screen_name %>">この人の紹介文を書く</a></p>
			<p class="area_border_bottom_s">名前：<% $this_user_name %></p>
			<% if ($this_user_location!="") %><p class="area_border_bottom_s">在住：<% $this_user_location %></p><% /if %>
			<% if ($this_user_description!="") %><p class="area_border_bottom_s"><% $this_user_description %></p><% /if %>
			<section class="area_border_bottom_s">
				<h1 class="cm_txt_100 cm_lh_12">利用しているサービス</h1>
				<ul class="clearfix">
					<li class="cm_w_30px cm_float_l"><a href="■" target="_blank">ああ</a></li>
				</ul>
			</section>
			<section class="area_border_bottom_s">
				<h1 class="cm_txt_100 cm_lh_12"><% $this_user_screen_name %>さんが<br>紹介文を贈った友達</h1>
				<ul class="clearfix">
					<% foreach $wrote_rows as $wrote_row %>
						<% if $wrote_row->status=="2" %>
							<li class="cm_w_30px cm_float_l"><img src="<% $wrote_row->friend_profile_image_url %>" alt="<% $wrote_row->friend_screen_name %>" class="cm_w_20px" /></li>
						<% /if %>
					<% /foreach %>
				</ul>
			</section>
			<section>
				<h1 class="cm_txt_100 cm_lh_12">このページを共有</h1>
				<ul class="clearfix">
					<li class="cm_w_30px cm_float_l"><a href="■" target="_blank">ああ</a></li>
				</ul>
			</section>
		</nav>
		<section class="main">
			<h1 class="icon_pic_55">友達からの <% $this_user_screen_name %> さんの紹介</h1>

			<% foreach $rows as $row %>
				<% if $row->status=="2" %>
					<div class="clearfix area_border_bottom_s">
						<div class="cm_float_l cm_w_20">
							<h1><% $row->relation %></h1>
						</div>
						<div class="cm_float_r cm_w_78">
							<p><% $row->text %></p>
						</div>
					</div>
					<p class="area_border_bottom_s cm_txt_r">introduced at <% $row->date %> by <% $row->user_screen_name %><% * $row->user_id * %></p>
				<% /if %>
			<% /foreach %>
		</section>
	</div>