	<div class="contents clearfix">
	<% include file='include/admin_nav.html' %>
		<div class="main">
			<section>
				<h1 class="icon_pic_02">お知らせ</h1>
				<p class="cm_mg_b_20 cm_txt_cblue"><strong>1件の新着紹介文が届いています！</strong></p>
			</section>
			<section>
				<h1 class="icon_pic_08">紹介文を書く</h1>
				<div class="cm_mg_b_20 area_border_bottom">
					<form class="cm_txt_c">
						<input type="text" class="frm_number cm_txt_150" />
						<a href="■" class="button1s" />検索</a>
					</form>
				</div>
				<div class="clearfix area_border_bottom">
					<% foreach from=$friends_list item=content key=key %>
					<% * $content.friend_user_id * %>
					<div class="cm_float_l cm_w_30 cm_mg_b_30 <% if $key%3==0 %>cm_mg_r_27<% /if %> clearfix">
						<p class="cm_float_l cm_w_25"><img src="<% $content.friend_profile_image_url %>" alt="" class="img_border cm_w_30px" /></p>
						<section>
							<h1 class="cm_lh_12"><% $content.friend_screen_name %></h1>
							<p class="cm_txt_85"><a href="/admin/write/form/?screen_name=<% $content.friend_screen_name %>">この人の紹介文を書く</a><% * $content.friend_user_id * %></p>
						</section>
					</div>
					<% /foreach %>
				</div>
			</section>
		</div>
	</div>