
<div class="contents clearfix">
	<% include file='include/admin_nav.html' %>
	<div class="main">
		<section>
			<h1 class="icon_pic_02">書いた紹介文</h1>
			<p class="cm_mg_b_20">書いた紹介文の一覧</p>
			<% foreach $rows as $row %>
				<table class="table_01 cm_w_100 cm_mg_b_10">
					<tr class="odd">
						<th class="cm_w_30">紹介した友達</th>
						<td><% $row->friend_id %></td>
					</tr>
					<tr class="even">
						<th>関係</th>
						<td><% $row->relation %></td>
					</tr>
					<tr class="odd">
						<th>紹介文</th>
						<td><% $row->text %></td>
					</tr>
					<tr class="even">
						<th>日付</th>
						<td><% $row->date %></td>
					</tr>
				</table>
			<% /foreach %>
		</section>
	</div>
</div>
