
<div class="contents clearfix">
	<% include file='include/admin_nav.html' %>
	<div class="main">
		<section>
			<h1 class="icon_pic_02">書いた思い出話</h1>
			<p class="cm_mg_b_20">書いた思い出話の一覧</p>
			
			<% $message %>
			<form name="frm" method="GET" action="/admin/wrote/delete">
			<table class="table_01 cm_w_100 cm_mg_b_10">
				<tr class="odd">
						<th class="cm_w_5">&nbsp;</th>
						<th colspan="2">友達</th>
						<th>作成日時</th>
						<th>&nbsp;</th>
				</tr>
				<% foreach $rows as $row %>
					<% if $row->status!="4" %>
						<tr class="even">
								<td rowspan="2"><input type="checkbox" id="<% $row->friend_id %>" name="delete_check[]" value="<% $row->content_id %>" /></td>
								<td style="border-right:none" class="cm_w_40px"><img src="<% $row->friend_profile_image_url_https %>" class="img_border cm_w_40px cm_mg_r_10" alt="<% $row->friend_screen_name %>" /></td>
								<td class="cm_txt_fwb"><% $row->friend_screen_name %></td>
								<td><% $row->date %></td>
								<td>
									<% if $row->status=="0" %>
										未開封
									<% elseif $row->status=="1"||$row->status=="3" %>
										未公開
									<% elseif $row->status=="2" %>
										公開中 [<a href="/user/<% $row->friend_screen_name %>">確認</a>]
									<% /if %>
								</td>
						</tr>
						<tr class="even">
							<td colspan="5">
								<p>関係：<% $row->relation %></p>
<p>いつ：<% $row->whenis %></p>
<p>思い出<br />
<% $row->text %></p></td>
						</tr>
					<% /if %>
				<% /foreach %>
			</table>
			<p class="area_border_bottom_s"><a class="button1s" href="#" onclick="document.frm.submit()">チェックした思い出話を削除</a></p>
			</form>
		</section>
	</div>
</div>
