
<div class="contents clearfix">
	<% include file='include/admin_nav.html' %>
	<div class="main">
		<section>
			<h1 class="icon_pic_02">書いた紹介文</h1>
			<p class="cm_mg_b_20">書いた紹介文の一覧</p>
			
			<table class="table_01 cm_w_100 cm_mg_b_10">
				<tr class="odd">
						<th class="cm_w_5">&nbsp;</th>
						<th colspan="2">友達</th>
						<th>関係</th>
						<th>日付</th>
						<th>確認</th>
						<th>編集</th>
				</tr>
				<% foreach $rows as $row %>
				<tr class="even">
						<td rowspan="2"><input type="checkbox" id="<% $row->friend_id %>" /></td>
						<td style="border-right:none"><img src="<% $row->friend_profile_image_url_https %>" class="img_border cm_w_40px cm_mg_r_10" alt="<% $row->friend_screen_name %>" /></td>
						<td class="cm_txt_fwb"><% $row->friend_screen_name %></td>
						<td><% $row->relation %></td>
						<td><% $row->date %></td>
						<td>[<a href="/user/<% $row->friend_screen_name %>">→</a>]</td>
						<td>[/]</td>
				</tr>
				<tr class="even">
					<td colspan="6"><% $row->text %></td>
				</tr>
				<% /foreach %>
			</table>
			<p class="area_border_bottom_s"><a class="button1s" href="">チェックした紹介文を削除</a></p>
		</section>
	</div>
</div>
