	<div class="contents clearfix">
	<% include file='include/admin_nav.html' %>
		<div class="main">
			<section>
				<h1 class="icon_pic_02">紹介文を書く</h1>
				<p class="cm_mg_b_20">ああああ紹介文を書くよ</p>
				
				<form action="/admin/write/create" method="post">
					<input type="hidden" value="14212710" name="params[user_id]" />
					<table class="table_01 cm_w_100">
						<tr class="odd">
							<th>紹介する友達</th>
							<td>
								<section class="clearfix cm_mg_b_10">
									<h1 class="cm_float_l cm_mg_r_10"><img src="http://a3.twimg.com/profile_images/1678110640/IMG_1784_normal.jpg" alt="" class="cm_w_60px cm_mg_r_5 img_border" /></h1>
									<section class="cm_float_l">
										<h1>chocolatina さん</h1>
										<p>Shoko OYAMADA</p>
										<p>株式会社paperboy&co.デザイナー</p>
									</section>
								</section>
								<input type="hidden" value="14212710" name="params[friend_id]">
							</td>
						</tr>
						<tr class="even">
							<th>関係</th>
							<td><input type="text" class="form_string" name="params[relation]"></td>
						</tr>
						<tr class="odd">
							<th>紹介文</th>
							<td><textarea name="params[text]"></textarea></td>
						</tr>
					</table>
					<input type="hidden" value="<% $smarty.now|date_format:"%Y-%m-%d %H:%M:%S" %>" name="params[date]" />
					<input type="hidden" value="<% $smarty.server.REMOTE_ADDR %>" name="params[ip]" />
					<div class="cm_mg_b_20">
					<input type="submit" value="送信" />
					</div>
				</form>
			</section>
		</div>
	</div>