		<nav class="side">
			<!--<p class="cm_txt_125 cm_mg_b_10"><img src="<% $profile_image_url %>" alt="" class="img_border cm_w_40px cm_mg_r_5" />&nbsp;<strong><% $screen_name %></strong></p>-->
			<section class="cm_mg_b_10 clearfix">
				<h1 class="cm_w_72 cm_float_r cm_mg_t_10"><% $screen_name|truncate:18:'..' %></h1>
				<p class="cm_w_27 cm_float_l"><img src="<% $profile_image_url %>" alt="" class="img_border cm_w_40px cm_mg_r_5" /></p>
			</section>
			<ul class="cm_mg_b_10">
				<li<% if $body_id == "admin_index" %> class="current"<% /if %>><a href="/admin" class="icon_point_10"><span></span>マイページトップ</a></li>
				<li><a href="/user/<% $screen_name %>" target="_blank" class="icon_point_21"><span></span>あなたの思い出ページ</a></li>
				<li<% if $body_id == "admin_received" %> class="current"<% /if %>><a href="/admin/received" class="icon_point_06"><span></span>届いた思い出話<% if $count_unread_rows!="0" %><strong class="num"><% $count_unread_rows %></strong><% /if %></a></li>
				<!--<li<% if ($body_id == "admin_write")||($body_id == "admin_write_form") %> class="current"<% /if %>><a href="/admin/write">思い出話を書く</a></li>-->
				<li<% if $body_id == "admin_wrote" %> class="current"<% /if %>><a href="/admin/wrote" class="icon_point_13"><span></span>書いた思い出話</a></li>
				<li<% if $body_id == "admin_setting" %> class="current"<% /if %>><a href="/admin/setting" class="icon_point_19"><span></span>個人設定</a></li>
			</ul>
			<!--<p class="area_border cm_txt_c"><a href="" class="button1">思い出話を書く</a></p>-->
		</nav>